<h1 class="text-2xl">¿Qué ofrecemos?</h1>
<div class="flex">
  <div class="text-justify p-4 flex-1">
    <p class="text-justify p-4">
      Se busca dar a conocer la importancia natural y cultural que se encuentra
      dentro de la región, el Ecuador está ubicado en la región noroccidental de
      América del Sur, sus límites son al norte con Colombia y al sur y al este
      con Perú y al oeste con el Océano Pacifico, también es conocido como el
      país de los cuatro mundos se encuentra subdividido por regiones Costa o
      Litoral, Sierra o Interandina, Oriente o Amazonia y a 972km separados por
      el Océano Pacifico se encuentran las Islas Galápagos o Insular. La Sierra
      se encuentra atravesada por la Cordillera de los Andes, esta franja de
      montañas tiene una altura aproximada de 1500 a 6310msnm, El punto mas alto
      es el Volcán Chimborazo, en el corazón de los andes se encuentra la
      capital del Ecuador Quito, en una expedición que realizo Alexander von
      Humboldt lo denomino la Avenida de los Volcanes, además von Humboldt
      menciono que los ecuatorianos son «seres raros y únicos: duermen
      tranquilos en medio de crujientes volcanes, viven pobres en medio de
      incomparables riquezas y se alegran con música triste»; esta región
      alberga también comunidades indígenas. La región Costa situada a lo largo
      del Océano Pacifico alrededor de 1600km, existen paisajes muy relevantes
      que caracterizan el mundo ecológico ecuatoriano comprendidos por
      manglares, bosques tropicales secos, plantaciones características como
      cacao, plantaciones de arroz que se puede observar a lo largo de la costa;
      su temperatura media es de 22°C, dentro de esta región se encuentra
      Esmeraldas esta localidad cuenta con una importante comunidad de
      afroecuatoriana. La Amazonia alberga una gran Reserva de Biodiversidad, es
      también conocida también como el “Pulmón del mundo” debido a que
      contribuye el equilibrio climático y la calidad de oxígeno. Es el hogar de
      muchas especies vegetales y animales, aunque no se han descubierto en su
      totalidad las especies que habitan en esta zona, hasta en la actualidad se
      siguen realizando investigaciones y dando a conocer nuevos
      descubrimientos. Los ríos dejan ver un impresionante paisaje, como lo es
      el rio Napo nace en los Andes tiene un trayecto de 1.400 km, su
      temperatura media es de 26°C, dentro de la localidad habitan diferentes
      culturas que también se encuentran dentro de Áreas protegidas como el
      Parque Nacional Yasuní, Reserva de producción Faunística Cuyabeno, Reserva
      Biológica Limoncocha, entre otras.
    </p>
  </div>
  <div class="ml-4 flex-1">
    <img class="w-full" src="assets/images/offer/image1.jpg" alt="" />
  </div>
</div>
