<!-- app.component.html -->

<div class="container mx-auto">
  <!-- Sección Acerca de -->
  <section class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Acerca de Nosotros</h2>
    <p class="text-justify mb-4">
      En nuestra agencia de turismo, nos dedicamos a brindar experiencias únicas
      y memorables a nuestros clientes. Nuestra misión es proporcionar servicios
      de alta calidad que permitan a nuestros clientes explorar y disfrutar de
      los destinos más hermosos del mundo.
    </p>
    <p class="text-justify mb-4">
      Nuestra visión es convertirnos en la agencia de turismo líder a nivel
      mundial, reconocida por nuestro compromiso con la excelencia y la
      satisfacción del cliente. Con más de 10 años de experiencia en la
      industria, hemos acumulado un amplio conocimiento y expertise que nos
      permite ofrecer soluciones personalizadas para cada cliente.
    </p>
    <p class="text-justify">
      ¡Confía en nosotros para hacer realidad tus sueños de viaje!
    </p>
  </section>
</div>
