<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Contactos</h2>

  <div class="flex items-center">
    <p class="mr-2">Síguenos en nuestras redes sociales:</p>
    <div class="flex space-x-4">
      <a href="https://www.instagram.com/tu_instagram" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/tu_facebook" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.tiktok.com/@tu_tiktok" target="_blank">
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </div>
  </div>

  <!-- Puedes agregar más información de contacto aquí si es necesario -->
</div>
